*{
    border: none;
    padding: 0;
    margin: 0;
}

a{
    list-style: none;
    text-decoration: none;
}

li{
    list-style: none;
    text-decoration: none;
}

footer{
    margin-top: 500px;
    margin-bottom: 20px;
    width: 1200px;
    height: 75px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin: 0 auto;
    background-color: #ff7300;
    color: white;
    text-align: center;
}

.Top_content{
    position: relative;
    height: 100px;
    width: 1200px;
    margin: 0 auto;
    background-color: #ff7300;
}

.Emblem{
    position: absolute;
    left: 25px;
    top: 42px;
    height: 40px;
    width: 300px;
}

.avtor{
    margin-top: 13px;
    float: right;
    color: black;
    height: 25px;
    margin-right: 20px;
}


.Emblem li{
    font: 400 10px/14px "Roboto",sans-serif;
    font-size: 29px;
    font-weight: bold;
    display: inline-block;
    list-style: none;
}

.Top_content_menu{
    position: absolute;
    left: 835px;
    top: 41px;
    width: 450px;
}

.Top_content_menu li{
    position: relative;
    z-index: 1000;
    display: inline-block;
    margin-left: 10px;
}

.Top_content_menu li a{
    font-size: 11px;
    color: white;
    padding: 0 8px;
    transition: 1s;
}

.Top_content_menu li ul{
    display: none;
    position: absolute;
    z-index: 1001;
    top: 12px;
    min-height:70px;
    width: 200px;
    padding-top: 3px;
    border: 1px solid silver;
}

.Top_content_menu li ul li a{
    display: block;
    text-align: none;
    padding: 3px;
    color: white;
    margin-left: 0;
    padding-left: 0;
}

.Top_content_menu li ul li a:hover{
    text-decoration: underline;
    color: white;

}

.down{
    position:absolute;
    top: 2px;
    left:57px;
    font-size:8px;
    color:white;
    cursor:pointer;
}

.Top_content_menu li a:hover {
    color: rgb(144, 115, 61);
}

.Top_content_menu li:hover .qwe{
    display: block;
    background-color: white;
}

.qwe{
    width: 300px;
}


.Main_Menu{
    width: 1200px;
    height: 45px;
    background-color: rgb(251,251,251);
    margin: 0 auto;

}

.Main_Menu li{
    margin-top: 16px;
    font-size:10px;
    display: inline-block;
    margin-left: 10px;
}

.Main_Menu li a{
    color: black;
}

.Main_Menu li a:hover{
    text-decoration: underline;
}

.Main_Menu li:first-child{
    margin-left: 25px;
}

.slider_wrap {
    margin: 0 auto;
    width:1200px;
    height:400px;
    position:relative;
    overflow:hidden;
}
.slider_wrap img {
    width:100%;
    height:auto;
    display:none;
    position:absolute;
    top:0;
    left:0;
}
.slider_wrap img:first-child {
    display:block;
}


.Content_block{
    position: relative;
    margin: 30px auto 0 auto;
    width: 1200px;
    min-height: 500px;
}

.Content_block_Menu{
    position: absolute;
    width: 280px;
}

.Content_block_Menu li{
    margin-top: 3px;
}

.Content_block_Menu li a{
    display: block;
    padding: 2px 2px;
    border: 1px solid silver;
    color: black;
    font-size: 13px;
}
.Content_block_IndexNews{
    position: absolute;
    width: 280px;
}

.NewsHeader {
    width: 280px;
    background-color: #ff7300;
    padding: 8px 0;
    text-indent: 30px;
    font-size: 18px;
    color: #fff;
}
.IndexNewsBlock {
    background: rgba(255, 249, 0, 0.08);
    margin-bottom: 15px;
}
.Content_block_IndexNews li{
    margin-top: 3px;
}

.Content_block_IndexNews li a{
    display: block;
    padding: 2px 2px;
    border: 1px solid silver;
    color: black;
    font-size: 13px;
}

.Content_block_Tovar{
    position: relative;
    left: 300px;
    min-height: 450px;
}

.Content_block_Noleft{
    left: 0px;
}



.Submenu{
    position: relative;
    margin: 0px auto 0 auto;
    left: 30px;
    width: 220px;
}

.Submenu li{
    margin-top: 3px;
}

.Submenu li a{
    display: block;
    padding: px 3px;
    border: 1px solid silver;
    color: #00750a;
    font-size: 10px;
}

.Submenu_Tovar{
    position: relative;
    left: 300px;
    min-height: 450px;
}

.Submenu_Noleft{
    left: 0px;
}



.Info{
    width: 900px;
    background-color: #ff7300;
    padding: 8px 0;
    text-indent: 30px;
    font-size: 18px;
    margin: 20px 0;
    color: #fff;
}

.Content_block_Tovar li{
    /*border: 1px solid silver;*/
    margin-top: 5px;
    position: relative;
    display: inline-block;
    width: 278px;
    min-height: 370px;
    margin-right: 25px;

}


.Content_block_Tovar li img{
    position: absolute;
    width: 100%;
    height: 230px;
}

.Content_block_Tovar li span{
    position: absolute;
    top: 240px;
    left: 10px;
    font-weight: bold;
    font-size: 21px;
    color: #90733d;
}

.Content_block_Tovar li b{
    position: absolute;
    top: 263px;
    left: 10px;
    font-weight: bold;
    font-size: 16px;
    color: black;
}

.Content_block_Tovar li p{
    position: absolute;
    top: 282px;
    left: 10px;
    font-size: 12px;
    color: black;
}

.dm1{
    position: absolute;
    top: 320px;
    left: 16px;
    text-align: center;
    padding: 11px 15px;
    width: 95px;
    background-color: #03d600;
    font-weight: bold;
    color: #000;
    transition: 1s;

}

.dm2{
    position: absolute;
    top: 320px;
    left: 165px;
    text-align: center;
    padding: 10px 15px;
    width: 65px;
    border:1px solid silver;
    font-weight: bold;
    color:black;
    transition: 1s;
}

.dm1:hover{
    background-color: black;
    color: white;
}

.dm2:hover{
    background-color: black;
    color: white;
}

.News_block{
    width: 1200px;
    min-height: 500px;
    margin: 0 auto;
}

.News li{
    margin-top: 30px;
    height: 300px;
    width: 1200px;
}

.News li img{
    position: absolute;
}

.News li div{
    position: relative;
    left: 600px;
    width: 600px;
    height: 300px;
}

.Info_IndexNews{
    margin-top: 20px;
    margin-bottom: 20px;
    position: relative;
}

.Info_News{
    height: 40px;
    margin-top: 10px;
    position: relative;
}

.Info_News li{
    height: 40px;
    width: 200px;
    margin: 0 0 0 5px;
    display: inline-block;
}

.Info_IndexNews li{
    position: relative;
    height: 25px;
    width: 200px;
    margin: 0 0 0 5px;
    display: inline-block;
}

.Info_News li img{
    position: absolute;
    top:-5px;
}

.Info_IndexNews li img{
    position: absolute;
    top:-5px;
}

.Info_News li span{
    margin-left: 30px;
    font-size: 14px;
}

.Info_IndexNews li span{
    margin-left: 30px;
    font-size: 14px;
}

.www{
    font-size: 14px;
}

.www1{
    position: absolute;
    top: 150px;
    border: 1px solid silver;
    padding: 12px 20px;
    color: black;
    font-weight: bold;
    transition: 1s;

}

.www1:hover{
    background-color: black;
    color: white;
}

.Karta{
    margin: 0 auto;
    width: 1200px;
}

.Vibor{
    position: relative;
    width: 1200px;
    margin: 0 auto;
}

.Vibor li{

    display: inline-block;
    height: 400px;
    width: 560px;
    border:1px solid silver;
}

.Vibor li div{
    margin-left: 120px;
}

input[type="text"],input[type="password"]{
    border: 1px solid #cccccc;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -khtml-border-radius: 3px;
    background: #ffffff !important;
    outline: none;
    height: 25px;
    color: black;
    text-indent: 5px;
    font-size: 15px;
    font-family: Tahoma;
}

.Content_block{
    min-height: 800px;
    margin: 0 auto;
}

.inp{
    width: 310px;
    height: 40px;
    cursor: pointer;
    transition:1s;
    background-color: #ffc800;
    font-weight: bold;
    color: #000;
}

.inp:hover{
    background-color: black;
    color: white;
}






table {
    overflow:hidden;
    border:1px solid #d3d3d3;
    background:#fefefe;
    width:70%;

    -moz-border-radius:5px; /* FF1+ */
    -webkit-border-radius:5px; /* Saf3-4 */
    border-radius:5px;
    -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
}

th, td {
    padding:15px 10px;
    text-align:center;
}

th {
    padding-top:22px;
    text-shadow: 1px 1px 1px #fff;
    background:#e8eaeb;
}

td {
    border-top:1px solid #e0e0e0;
    border-right:1px solid #e0e0e0;
}

tr.odd-row td {
    background:#f6f6f6;
}

td.first, th.first {
    text-align:left
}

td.last {
    border-right:none;
}

td {
    background: -moz-linear-gradient(100% 25% 90deg, #fefefe, #f9f9f9);
    background: -webkit-gradient(linear, 0% 0%, 0% 25%, from(#f9f9f9), to(#fefefe));
}

tr.odd-row td {
    background: -moz-linear-gradient(100% 25% 90deg, #f6f6f6, #f1f1f1);
    background: -webkit-gradient(linear, 0% 0%, 0% 25%, from(#f1f1f1), to(#f6f6f6));
}

th {
    background: -moz-linear-gradient(100% 20% 90deg, #e8eaeb, #ededed);
    background: -webkit-gradient(linear, 0% 0%, 0% 20%, from(#fbff002e), to(#feff002b));
}

tr:first-child th.first {
    -moz-border-radius-topleft:5px;
    -webkit-border-top-left-radius:5px; /* Saf3-4 */
}

tr:first-child th.last {
    -moz-border-radius-topright:5px;
    -webkit-border-top-right-radius:5px; /* Saf3-4 */
}

tr:last-child td.first {
    -moz-border-radius-bottomleft:5px;
    -webkit-border-bottom-left-radius:5px; /* Saf3-4 */
}

tr:last-child td.last {
    -moz-border-radius-bottomright:5px;
    -webkit-border-bottom-right-radius:5px; /* Saf3-4 */
}

.News_info .photoss{
    position: relative;
    margin: 20px 0 0 50px;
    height:600px;
    width:1150px;
}

.News_info ul{
    position: relative;
    text-align: center;
}

.News_info ul img{
    text-align: left;
    position: absolute;
    margin-top: 0;
    left: -30px;
    top: -5px;
}

.News_info ul li{
    margin-left: 30px;
    position: relative;
    display: inline-block;
    width: 250px;
    text-align: left;
}

.News_info div{
    text-align: left;
    font-size: 15px;
    width: 1150px;
    margin: 0 auto;
}
.News_info div p{
    margin-top: 3px;
    text-indent: 30px;
    line-height: 1.5;
}


.dm4{
    position: relative;
    text-align: center;
    padding: 10px 65px;

    border: 1px solid black;
    background-color: #ffd100;
    font-weight: bold;
    color: #000;
    margin: 20px 0 30px 900px;
    transition: 1s;
}

.dt img{
    width: 250px;
    height: 200px;
}

.dd3{
    position: absolute;
    top: 238px;
    left: 217px;
    border: 1px solid silver;
    border-radius: 25%;
}

.sait_map li{
    margin-top: 4px;
}

.sait_map li div{
    margin-left: 20px;
}

.IndexNews {
    width: 280px;
}

.sendMail {
    margin-top: 20px;
    padding: 10px 10px 0 10px;
    display: block;
    width: 120px;
    height: 50px;
    background: orange;
    text-align: center;
    color: black;
    vertical-align: center;
    font-family: Arial, Sans-serif;
    border: 1px solid black;
}
.sendMail:hover {
    background: #f2ed28;
}

.blockForm {
    width: 400px;
    margin: 0 auto;
    border: 1px solid grey;
    height: 400px;
    display: block;
    text-align: center;
}
.forAutorize {
    padding-top: 10px;
    margin: 0 auto;
    margin-top: 10px;
    display: block;
    width: 310px;
    height: 29px;
    cursor: pointer;
    transition: 1s;
    background-color: #ffc800;
    font-weight: bold;
    color: #000;
}

.number3 {

    position: absolute;
    /* display: block; */
    /* height: 43px; */
    width: 32px;
    height: 37px;
    top: 320px;
    left: 111px;
    border: 1px solid;
    font-size: 13px;
}
.number4 {

    position: relative;
    border: 1px solid black;
    width: 32px;
    height: 37px;
    /*top: 320px;*/
    /*left: 111px;*/
    font-size: 13px;
}